** .gitignore **

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python/R
__pycache__/
*.pyc
.Rproj.user/

# Power BI
*.pbip
*.pbitool.json
*.abf
*.pbix.RESTORE

# Power BI temp/cache
*.tmp
*.bak

# Notebooks caches
.ipynb_checkpoints/

# Editors
.vscode/
.idea/

# Node (customize Pages)
node_modules/
